{%extends 'layout.html'%}

{%block content%}
<header>
    <h1>About Lugumya</h1>
  </header>
  
  <section class="introduction">
    <div class="image">
      <img src="/static/assets/intro.jpg" alt="Introduction Image" width="581" height="631">
    </div>
    <div class="text">
      <h2>Introduction</h2>
      <p>Lugumya is a Budgeting and Tracking application designed to help individuals and businesses manage their finances effectively. Our platform provides powerful tools and features that simplify the budgeting process, track expenses, and provide valuable insights to improve financial health.</p>
    </div>
  </section>
  
  <section class="company-overview">
    <h2>Company Overview</h2>
    <p>Lugumya is under SwahiliElites, a technology company based in Dar Es Salaam, Tanzania. SwahiliElites focuses on solving problems through the application of  information technology. With a deep understanding of and computing, we strive to create innovative solutions that empower individuals and businesses to achieve their  goals.</p>
  </section>
  
  <section class="team">
    <h2>Our Team</h2>
    <ul>
      <li>tzniceguy - CEO and Founder</li>
    </ul>
    <p>tzniceguy is the CEO and Founder of SwahiliElites. With his financial unawraness and vision, he is the team  behind <strong></strong>in developing Lugumya as a user-friendly and feature-rich budgeting and tracking application. Joe brings extensive experience in the technology industry and a passion for helping people improve their financial well-being.</p>
  </section>
  
  <section class="testimonials">
    <h2>Testimonials</h2>
    <div class="slider">
      <div class="testimonial">
        <img src="/static/assets/ceo.jpg" alt="Testimonial Avatar">
        <blockquote>
          <p>"Lugumya has revolutionized the way I manage my finances.<br/>
            It's intuitive, comprehensive, and has truly helped me stay on top of my budgeting goals." - John Doe</p>
        </blockquote>
      </div>
      <div class="testimonial">
        <img src="/static/assets/affairs.jpg" alt="Testimonial Avatar">
        <blockquote>
          <p>"I've tried several budgeting apps, but Lugumya stands out.<br/>
            Its powerful features, combined with the user-friendly interface, make it a must-have tool for anyone serious about managing their money." - Jane Smith</p>
        </blockquote>
      </div>
      <div class="testimonial">
        <img src="/static/assets/ceo.jpg" alt="Testimonial Avatar">
        <blockquote>
          <p>"Lugumya is a game-changer! <br/>
            It has helped me gain control of my finances and make smarter financial decisions. I highly recommend it to anyone looking to improve their financial well-being." - Mark Johnson</p>
        </blockquote>
      </div>
    </div>
  </section>
  
  <section class="contact">
    <h2>Contact Us</h2>
    <p>If you have any questions or feedback, we would love to hear from you. You can reach us at:</p>
    <ul>
      <li>Email: info@lugumya.app</li>
      <li>Phone: +255 123 456 789</li>
      <li>Address: 1441, Dar Es Salaam, Tanzania</li>
    </ul>
  </section>
{%endblock content%}