{%extends 'layout.html'%}
{%block content%}
  <div class="container">
    <h1>Why Track Your Expenses and Use Lugumya Web App for Budgeting</h1>

    <h2>Importance of Expense Tracking</h2>
    <p>Keeping track of your expenses is crucial for several reasons:</p>
    <ul>
      <li><strong>Financial Awareness:</strong> By tracking your expenses, you become more aware of your spending habits and can identify areas where you can cut back and save money.</li>
      <li><strong>Budgeting:</strong> Expense tracking helps you create a budget and allocate your funds effectively. It allows you to set financial goals and work towards achieving them.</li>
      <li><strong>Identifying Trends:</strong> Tracking your expenses over time helps you identify patterns and trends in your spending. This information can be used to make informed decisions and adjust your financial strategy accordingly.</li>
      <li><strong>Control and Accountability:</strong> When you know where your money is going, you have better control over your finances. It also helps you stay accountable to your financial goals.</li>
    </ul>

    <h2>Benefits of Using Lugumya Web App for Expense Tracking and Budgeting</h2>
    <p>Lugumya is a powerful web app designed specifically for expense tracking and budgeting, offering several advantages:</p>
    <ul>
      <li><strong>Convenience:</strong> Lugumya allows you to access your financial data from anywhere with an internet connection. You can track your expenses on-the-go, making it easy to record expenses in real-time.</li>
      <li><strong>Automation:</strong> Lugumya comes with features that automate expense tracking. You can link your bank accounts and credit cards to automatically import transactions, saving you time and effort.</li>
      <li><strong>Custom Reports:</strong> Lugumya generates custom reports based on your income and expenses. You can view reports on a daily, weekly, monthly, or yearly basis, helping you analyze your financial progress and make informed decisions.</li>
      <li><strong>Budgeting Tools:</strong> Lugumya offers comprehensive budgeting tools that help you set financial goals, allocate funds to different categories, and track your progress towards those goals.</li>
      <li><strong>Security:</strong> Lugumya prioritizes security and encryption to protect your financial data. It has built-in security measures to ensure your information remains safe.</li>
    </ul>

    <p>With Lugumya, you can easily track your expenses, manage your budget, and gain valuable insights into your financial habits. Start using Lugumya today and take control of your finances.</p>
  </div>
  <footer class="footer">
    <div class="container">
      <p>&copy; <span id="currentYear"></span> Lugumya | Part of SwahiliElite LLC</p>
    </div>
  </footer>
  <script>
    // Update current year
    document.getElementById("currentYear").textContent = new Date().getFullYear();
  </script>
{%endblock content%}