{%extends 'layout.html'%}
{%block content%}
    <div class="form">
        <form method="post" action="">
            {{form.hidden_tag()}}
        <fieldset>
            <legend>Register An Account</legend>
            <div class="form-group">
                {{form.username.label}}
                {{form.username}}
            </div>
            <div class="form-group">
                {{form.email.label}}
                {{form.email}}
            </div>
            <div class="form-group">
                {{form.password.label}}
                {{form.password}}
            </div>
            <div class="form-group">
                {{form.confrim_password.label}}
                {{form.confrim_password}}
            </div>
            <div class="form-group">
                {{form.submit}}
            </div>
            <small class="text-muted">Already have an account? <a href="{{ url_for('login') }}">Login</a> instead</small>
        </fieldset>
    </form>
    </div>
{%endblock content%}